<!DOCTYPE html>
<html lang="en" style="width: 100%;height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="../javascripts/echarts.min.js"></script>
    <script type="text/javascript" src="../javascripts/hammer.js"></script>
    <script type="text/javascript" src="../javascripts/bmap.js"></script>
    <script type="text/javascript" src="../javascripts/china.js"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=MaF5RPSfVdWeNqjlmZART93qXVoPiZ2N"></script>


</head>
<body style="width: 100%;height: 100%">
<div id="main" style="width: 100%;height: 100%;float: left"></div>

<script>
    let dataArr = [
        {id: "1", parent: "0", name: "福建省高级人民法院管辖区"},
        {id: "2", parent: "1", name: "福州市中级人民法院管辖区"},
        {id: "3", parent: "1", name: "厦门市中级人民法院管辖区"},
        {id: "4", parent: "2", name: "莆田市中级人民法院管辖区"},
        {id: "5", parent: "1", name: "三明市中级人民法院管辖区"},
        {id: "7", parent: "4", name: "漳州市中级人民法院管辖区"},
        {id: "8", parent: "1", name: "南平市中级人民法院管辖区"},
        {id: "9", parent: "4", name: "宁德市中级人民法院管辖区"},
        {id: "10", parent: "1", name: "龙岩市中级人民法院管辖区"},
        {id: "73924610", parent: "5", name: "办公室"},
        {id: "6", parent: "5", name: "办公室"},
        {id: "7", parent: "6", name: "办公室"},
        {id: "8", parent: "7", name: "办公室"},
        {id: "9", parent: "8", name: "办公室"},
        {id: "73924611", parent: "5", name: "立案庭"}
    ]

    let nDataArr = buildTree(dataArr)
    console.log({nDataArr})

    function buildTree(list) {
        let temp = {};
        let tree = {};
        for (let i in list) {
            temp[list[i].id] = list[i];
        }
        for (let i in temp) {
            if (temp[i].parent&&temp[temp[i].parent]) {
                if (!temp[temp[i].parent].children) {
                    temp[temp[i].parent].children = new Object();
                }
                temp[temp[i].parent].children[temp[i].id] = temp[i];
            } else {
                tree[temp[i].id] = temp[i];
            }
        }
        return tree;
    }
</script>

</body>
</html>