<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/@alifd/next/dist/next.css">
    <script src="https://unpkg.com/@alifd/next/dist/next.js"></script>

</head>
<body>
<div>
    <Button type="normal">Normal</Button> &nbsp;&nbsp;
    <Button type="primary">Prirmary</Button> &nbsp;&nbsp;
    <Button type="secondary">Secondary</Button>
    <br /><br />
    <Button type="normal" text>Normal</Button> &nbsp;&nbsp;
    <Button type="primary" text>Primary</Button> &nbsp;&nbsp;
    <Button type="secondary" text>Secondary</Button>
    <br /><br />
    <Button type="normal" warning>Normal</Button> &nbsp;&nbsp;
    <Button type="primary" warning>Primary</Button> &nbsp;&nbsp;
</div>
<div id="main">
    <Button type="normal">Normal</Button> &nbsp;&nbsp;
    <Button type="primary">Prirmary</Button> &nbsp;&nbsp;
    <Button type="secondary">Secondary</Button>
    <br /><br />
    <Button type="normal" text>Normal</Button> &nbsp;&nbsp;
    <Button type="primary" text>Primary</Button> &nbsp;&nbsp;
    <Button type="secondary" text>Secondary</Button>
    <br /><br />
    <Button type="normal" warning>Normal</Button> &nbsp;&nbsp;
    <Button type="primary" warning>Primary</Button> &nbsp;&nbsp;
</div>


</body>

<script>

    // let mainDiv = document.querySelector("#main")
    // console.log({mainDiv})
    //
    // ReactDOM.render('<div>\n' +
    //     '    <Button type="normal">Normal</Button> &nbsp;&nbsp;\n' +
    //     '    <Button type="primary">Prirmary</Button> &nbsp;&nbsp;\n' +
    //     '    <Button type="secondary">Secondary</Button>\n' +
    //     '    <br /><br />\n' +
    //     '    <Button type="normal" text>Normal</Button> &nbsp;&nbsp;\n' +
    //     '    <Button type="primary" text>Primary</Button> &nbsp;&nbsp;\n' +
    //     '    <Button type="secondary" text>Secondary</Button>\n' +
    //     '    <br /><br />\n' +
    //     '    <Button type="normal" warning>Normal</Button> &nbsp;&nbsp;\n' +
    //     '    <Button type="primary" warning>Primary</Button> &nbsp;&nbsp;\n' +
    //     '</div>', mainDiv);


    function Point(x, y) {
        this.x = x
        this.y = y
        this.r = function () {
            return Math.sqrt(
                this.x * this.x + this.y * this.y
            )
        }
    }

    let p = new Point(1, 1)
    Point.prototype.r2 = function () {
        return Math.sqrt(
            this.x * this.x + this.y * this.y
        )
    }
    console.log("p.r()", p.r())
    console.log("p.r2()", p.r2())


    let points = [
        {x: 0, y: 0},
        {x: 1, y: 1}
    ]

    points.dist = function () {
        let p1 = this[0]
        let p2 = this[1]
        let a = p2.x - p1.x
        let b = p2.y - p1.y
        return Math.sqrt(a * a + b * b)
    }

    console.log(points.dist())


    // document.getElementById("newsItem" + data.newsId).innerText = "数据   :" + Math.random()
    // let r = Math.floor(Math.random()*255)
    // let g = Math.floor(Math.random()*255)
    // let b = Math.floor(Math.random()*255)
    // console.log( `rbg(${r},${g},${b})`)
    // var colorstr = 'rbga('+r+','+g+','+b+',1)'
    // document.getElementById("newsItem" + data.newsId).style.backgroundColor = `rgba(${r},${g},${b},1)`

</script>

<style>

    .width-100 {
        width: 100%;
    }

    .box-wrap {
        margin: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .box-wrap .box {
        flex: 1;
        margin: 10px;
        background: #00B7FF;
        color: white;
        width: 50%;
        min-height: 200px;
        min-width: 300px;
        font-weight: bold;
        font-size: 18px;

        text-align: center;
        align-content: center;
    }

</style>
</html>