<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>


<form action="/api/v1/loginForForm" method="POST" enctype="x-www-form-urlencoded">
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <input type="submit" value="确定"/>
</form>

</body>
<script>


</script>
</html>