<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="width-100 box-wrap">
    <div id="newsItem1" class="box"> 表格1</div>
    <div id="newsItem2" class="box"> 表格2</div>
    <div id="newsItem3" class="box"> 表格3</div>
</div>
<div class="width-100 box-wrap">
    <div id="newsItem4" class="box"> 表格4</div>
    <div id="newsItem5" class="box"> 表格5</div>
    <div id="newsItem6" class="box"> 表格6</div>
</div>


</body>

<script src="https://cdn.socket.io/socket.io-1.2.1.js" ;></script>
<script>
    // 建立连接
    var socket = io('ws://127.0.0.1:1024')
    // on表示接收
    // emit表示发送
    socket.on('connect', function () {
        console.log('连接上了')
        // 登录，同步前后端信息
        // 请求后端login接口，写入socketid
        socket.on('news', function (data) {
            document.getElementById("newsItem" + data.newsId).innerText = "数据   :" + Math.random()
            let r = Math.floor(Math.random()*255)
            let g = Math.floor(Math.random()*255)
            let b = Math.floor(Math.random()*255)
            console.log( `rbg(${r},${g},${b})`)
            document.getElementById("newsItem" + data.newsId).style.backgroundColor = `rbga(${r},${g},${b},1)`
        });
    })


</script>

<style>

    .width-100 {
        width: 100%;
    }

    .box-wrap {
        margin: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .box-wrap .box {
        flex: 1;
        margin: 10px;
        background: #00B7FF;
        color: white;
        width: 50%;
        min-height: 200px;
        min-width: 300px;
        font-weight: bold;
        font-size: 18px;

        text-align: center;
        align-items: center;
    }

</style>
</html>